In [1]:
from nsepython import *

import pandas as pd
import yfinance as yf
import numpy as np

import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [2]:
## Stock Symbols contains list of 1250 NSE stock symbols (Need to update it every quarter / year)

stock_data = pd.read_csv('stock_data.csv')
stock_data.set_index('SYMBOL', inplace=True)
len(stock_data)

1435

In [3]:
nse_results("equities","Quarterly")

[{'symbol': 'GMBREW', 'companyName': 'GM Breweries Limited', 'industry': '-', 'audited': 'Un-Audited', 'cumulative': 'Non-cumulative', 'indAs': 'Ind-AS New', 'reInd': 'N', 'period': 'Quarterly', 'relatingTo': 'Third Quarter', 'financialYear': '01-Apr-2023 To 31-Mar-2024', 'filingDate': '04-Jan-2024 13:20', 'seqNumber': '1162026', 'bank': 'N', 'fromDate': '01-Oct-2023', 'toDate': '31-Dec-2023', 'oldNewFlag': 'N', 'xbrl': 'https://nsearchives.nseindia.com/corporate/xbrl/INDAS_100996_1007649_04012024012033.xml', 'format': 'New', 'params': '01-Oct-202331-Dec-2023Q3UNNNNEGMBREW', 'resultDescription': None, 'resultDetailedDataLink': None, 'exchdisstime': '04-Jan-2024 13:24:06', 'difference': '00:03:33', 'isin': 'INE075D01018', 'consolidated': 'Non-Consolidated', 'broadCastDate': '04-Jan-2024 13:20:33'}]

,symbol,companyName,industry,audited,cumulative,indAs,reInd,period,relatingTo,financialYear,...,xbrl,format,params,resultDescription,resultDetailedDataLink,exchdisstime,difference,isin,consolidated,broadCastDate
0,GMBREW,GM Breweries Limited,-,Un-Audited,Non-cumulative,Ind-AS New,N,Quarterly,Third Quarter,01-Apr-2023 To 31-Mar-2024,...,https://nsearchives.nseindia.com/corporate/xbr...,New,01-Oct-202331-Dec-2023Q3UNNNNEGMBREW,None,None,04-Jan-2024 13:24:06,00:03:33,INE075D01018,Non-Consolidated,04-Jan-2024 13:20:33

In [4]:
nse_results('GMBREW')

Give Correct Index Input

In [5]:
df = pd.DataFrame(nse_past_results('GMBREW').get('resCmpData'))

In [6]:
new_columns = {'re_to_dt': 'DATE', 're_create_dt': 'RELEASE_DATE', 're_net_sale':'INCOME',
                're_oth_tot_exp':'COST', 're_oth_inc_new':'OTHER_INCOME',
                're_pro_loss_bef_tax':'PBT', 're_net_profit':'PROFIT','re_basic_eps_for_cont_dic_opr':'EPS'}
df.rename(columns=new_columns, inplace=True)

In [7]:
df = df[['DATE', 'INCOME', 'COST', 'OTHER_INCOME', 'PBT', 'PROFIT', 'EPS']]
df.set_index('DATE', inplace=True)

In [8]:
for col in df.columns:
    df[col] = pd.to_numeric(df[col])
    
for col in df.columns:
    if col != 'EPS':
        df[col] = round(df[col] / 100)
        df[col] = df[col].round(0).astype(int)

In [9]:
df['OP_INCOME'] = df['INCOME'] - df['COST']
df['OPM'] = (100 * (df['INCOME'] - df['COST']) / df['INCOME']).round(2).astype(str) + "%"
df['TAX'] = (100 * (df['PBT'] - df['PROFIT']) / df['PBT']).round(2).astype(str) + "%"

In [10]:
df = df[['INCOME', 'OP_INCOME', 'OPM','OTHER_INCOME', 'TAX', 'PROFIT', 'EPS']]
df

             INCOME  OP_INCOME    OPM  OTHER_INCOME     TAX  PROFIT    EPS
DATE
31-DEC-2023     618         24  3.88%             7  25.81%      23  12.37
30-SEP-2023     594         28  4.71%             1  24.14%      22  12.23
30-JUN-2023     579         25  4.32%             1  25.93%      20  10.90
31-MAR-2023     603         30  4.98%            15  22.22%      35  19.19
31-DEC-2022     609         32  5.25%             3  25.71%      26  14.18

In [11]:
# Divide columns by 100 (excluding 'EPS')
df_string = df.astype(str)

df = df_string.transpose()
df
#df = df.round(0).astype(int)

DATE         31-DEC-2023 30-SEP-2023 30-JUN-2023 31-MAR-2023 31-DEC-2022
INCOME               618         594         579         603         609
OP_INCOME             24          28          25          30          32
OPM                3.88%       4.71%       4.32%       4.98%       5.25%
OTHER_INCOME           7           1           1          15           3
TAX               25.81%      24.14%      25.93%      22.22%      25.71%
PROFIT                23          22          20          35          26
EPS                12.37       12.23        10.9       19.19       14.18

In [12]:
df_reversed = df.iloc[:, ::-1]

In [17]:
figure_html = open('results.html', 'w')
tracking_stocks = ['GMBREW']
for symbol in tracking_stocks:
    data = yf.download(symbol + ".NS", start='2023-01-01', end=pd.to_datetime('today')+pd.DateOffset(1), progress=False)
    
    data['20DMA'] = data['Close'].rolling(window=20).mean()
    data['50DMA']= data['Close'].rolling(window=50).mean()
    data['100DMA']= data['Close'].rolling(window=100).mean()
    
    data['diff'] = data['Close'] - data['Open']
    data.loc[data['diff'] >= 0, 'color'] = 'green'
    data.loc[data['diff'] < 0, 'color'] = 'red'
    
    plot_data = data[data.index > (pd.to_datetime('today') - pd.DateOffset(days=240))]

    figure = make_subplots(specs=[[{"secondary_y": True}]])
    figure.add_trace(go.Candlestick(x = plot_data.index,
                              open = plot_data['Open'],
                              high = plot_data['High'],
                              low = plot_data['Low'],
                              close = plot_data['Close'],
                              name='Price'))
    # Adding Text Below
    stock_row = stock_data.loc[symbol]
    figure.add_annotation(dict(font=dict(color='black', size=16.5),
        x=0.5,  # Center aligned horizontally
        y=-0.12, showarrow=False,
        text="SECTOR - " + stock_row['SECTOR'] + "  FNO - " + str(bool(stock_row['FNO'])),
        textangle=0,
        xanchor='center',  # Center aligned horizontally
        yanchor='bottom',  # Aligned to the bottom
        xref="paper", yref="paper"))
    
    figure.add_trace(go.Scatter(x=plot_data.index, y=plot_data['20DMA'], marker_color='blue',name='20 Day MA'))
    figure.add_trace(go.Scatter(x=plot_data.index, y=plot_data['50DMA'], marker_color='orange',name='50 Day MA'))
    figure.add_trace(go.Scatter(x=plot_data.index, y=plot_data['100DMA'], marker_color='green',name='100 Day MA'))
    figure.add_trace(go.Bar(x=plot_data.index, y=plot_data['Volume'], name='Volume', marker={'color':plot_data['color']}),secondary_y=True)
    
    figure.update_yaxes(range=[0, plot_data['Volume'].max()*5], secondary_y=True)
    figure.update_yaxes(visible=False, secondary_y=True)
    figure.update_layout(title={'text':symbol, 'x':0.5})
    
    figure.update_layout(xaxis_rangeslider_visible=False)  #hide range slider
    figure.update_xaxes(rangebreaks = [ dict(bounds=['sat','mon']) ] ) # hide weekends 
    
    # figure.show()
     
    html_table = df_reversed.style.set_table_styles([
    {'selector': 'thead th', 'props': [('background-color', 'lightblue'), ('color', 'black'), ('text-align', 'center'), ('font-weight', 'bold')]},
    {'selector': 'tbody td', 'props': [('text-align', 'center')]}]).render()
    figure_html.write(html_table)
    figure_html.write(figure.to_html(full_html=False))
    
    
print('Execution Completed!!!!')

Execution Completed!!!!

/var/folders/y8/cj_f7jps7ylfv21xfzjbynm40000gn/T/ipykernel_29383/3606356057.py:48: FutureWarning:

this method is deprecated in favour of `Styler.to_html()`

/var/folders/y8/cj_f7jps7ylfv21xfzjbynm40000gn/T/ipykernel_29383/3606356057.py:53: FutureWarning:

this method is deprecated in favour of `Styler.to_html()`